body{background-color: #1b1923;}

.logo-container {
    text-align: center;
    margin-bottom: 0px;
}

.logo-container img {
    max-width: 100%;
    max-height: 100%;
    display: block;
    margin: 0 auto;
    display: block;
    transition: all .5s cubic-bezier(0.645, 0.045, 0.355, 1);
    margin-top: -10px;   
}

.logo-container:hover img {
    transform: scale(1.05, 1.05);
    z-index: 5;
  }

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}

.button-row {
    display: flex;
    margin-bottom: 20px;
}

.circle-button {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background: linear-gradient(to bottom, #444155, #444155);
    border: none;
    margin: 0 10px;
    cursor: pointer;
    transition: background-color 1s;
    display: inline-flex;
    align-items: center; 
    justify-content: center; 
    z-index: 1;
}

.circle-button:hover {
    background: linear-gradient(to bottom, #e97e98, #febfac, #b5f5da, #5dc1d6);
    color: rgba(255, 255, 255, 3);
    box-shadow: 0 5px 15px rgba(145, 92, 182, .4);
    transform: rotate(0deg) skew(0deg) translate(0, -10px);
    transition: .5s;
}

.circle-button:hover:after {
    top: 0;
    height: 100%;
}

.circle-button:active {
    top: 30px;
    box-shadow: none;
}


        